html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.nav-list {
  display: none;
}

/* NavBar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem 1rem 1.5rem;
}

.menu-icon {
  width: 1.5rem;
}

.nav-list a:active {
  display: block;
  line-height: 30px;
  border-bottom: 2px solid black;
}

.logo {
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #000;
}

.cart {
  width: 1.5rem;
}

/* Section */
.container {
  padding-top: 0.3rem;
  min-height: 100vh;
}

.container-content {
  text-align: center;
}

.header {
  font-size: 0.9rem;
  word-spacing: 3px;
  font-weight: 400;
}

.product-count {
  display: block;
  color: #8b8282;
  margin-top: 0.5rem;
}

.product-container {
  padding: 0.2rem 1.6rem;
  margin: 1.25rem 0 0 0;
}

.product {
  display: flex;
  margin: 1.5rem 0 0 0;
  gap: 12px;
}

.product-img {
  width: 75px;
  height: 72px;
}

.container-product-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}

.product-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 0.8rem;
  font-weight: 400;
}

.delete-icon {
  border: none;
  outline: none;
  background-color: #ffffff;
}

.btn-icon {
  width: 14px;
}

.product-select-container {
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}

.product-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select-quantity {
  width: 35px;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.product-size {
  font-size: 0.8rem;
  padding-left: 0.6rem;
}

.size,
.quantity,
.price {
  color: #8b8282;
  font-size: 0.8rem;
}

.cost {
  width: 50%;
  font-size: 0.8rem;
  margin-right: 0.7rem;
  margin-left: auto;
  padding-left: 3.8rem;
  padding-top: 2.2rem;
  max-width: 768px;
  position: relative;
  bottom: 0;
}

.products-cost {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

span {
  padding-left: 1.6rem;
}

.btn {
  width: 100%;
  display: block;
  text-align: center;
}

.btn button {
  width: 100%;
  height: 64px;
  background-color: #172c50;
  color: #ffffff;
  display: block;
  font-size: 0.9rem;
  border: none;
  outline: none;
  text-align: center;
}

.inner-btn {
  display: none;
}

/* Footer */
footer {
  display: none;
  text-align: center;
}

.copyright-text {
  font-size: 0.8rem;
  color: #8b8282;
}

.copyright-text:hover {
  text-decoration: underline;
}

.text {
  margin-top: 1.5rem;
}

.demo-text {
  display: inline;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #000;
  padding: 0.7rem 1rem;
}

@media all and (max-width: 360px) {
  .container-product-desc {
    gap: 8px;
  }

  .product-select-container {
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
  }
}

@media all and (min-width: 768px) {
  .menu-icon {
    visibility: hidden;
  }

  .navbar {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .nav-list {
    visibility: hidden;
    width: 450px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto;
  }

  .nav-list a {
    font-size: 0.8rem;
    color: #000;
  }

  .container {
    max-width: 950px;
    margin-inline: auto;
  }
  
  .container-product-desc {
    flex-direction: row;
  }

  .btn {
    display: none;
  }

  .inner-btn {
    display: block;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 0.7rem 1.25rem;
  }

  .inner-btn button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
  }

  .cost {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
  }

  .products-cost {
    position: static;
  }

  .container-product-desc {
    position: relative;
    width: 100%;
  }

  .product-title {
    justify-content: space-between;
  }

  .product-select-container {
    width: 350px;
    position: absolute;
    right: 90px;
    top: 25px;
    justify-content: space-between;
  }
  
  footer {
    display: block;
  }
}
