html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.nav-list {
  display: none;
}

/* NavBar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1.5rem 1rem 1.5rem;
}

.menu-icon {
  width: 1.5rem;
}

.nav-list a:active {
  display: block;
  line-height: 1.8rem;
  border-bottom: 2px solid black;
}

.logo {
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #000;
}

.cart {
  width: 1.5rem;
}

/* Section */
.container {
  margin: 1.3rem 0 5rem 0;
  padding: 0 1.5rem;
  min-height: 100vh;
}

.checkout-desc {
  text-align: center;
}

.header {
  font-size: 0.9rem;
  word-spacing: 3px;
  font-weight: 400;
}

.desc {
  display: block;
  color: #8b8282;
  margin-top: 0.5rem;
}

.d-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.account-info-container {
  display: flex;
  flex-direction: column;
}

.payment-info-container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.input {
  width: 100%;
  font-weight: 400;
  padding-bottom: 0.5rem;
  margin: 1.5rem 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #bdb8b8;
}

.input:focus {
  border-bottom: 2px solid #000;
}

.wrapper-container {
  display: flex;
  gap: 10px;
}

.wrapper-container:nth-child(1) {
  flex: 1;
}

.wrapper-container:nth-child(2) {
  flex: 1;
}

.select-country {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

#country {
  width: 100%;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-bottom: 1px solid #bdb8b8;
  padding-bottom: 0.5rem;
}

#country:focus {
  border-bottom: 2px solid #000;
}

.select-country .label {
  font-weight: 400;
  padding-bottom: 0.6rem;
  margin-bottom: 1rem;
}

.billing-address-info .label {
  margin-bottom: 0.7rem;
}

.billing-address-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 1.5rem;
}

.billing-address-checkbox .label {
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 400;
}

.show-billing-address {
  display: none;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid #000;
}

.checkbox:checked {
  color: #ffffff;
  background-color: #000;
}

.expiry {
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-expiry-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

#month,
#year {
  flex: 1;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-bottom: 1px solid #bdb8b8;
  height: 27px;
  font-size: 1rem;
  padding-bottom: 0.6rem;
}

#month:focus,
#year:focus {
  border-bottom: 2px solid #000;
}

.cvv-input {
  flex: 1;
}

.input-container {
  position: relative;
}

.input-container .input:focus ~ span,
.input-container .input:valid ~ span {
  transform: translateY(-30px);
  font-size: 0.8rem;
  color: #000;
}

.input-container span {
  position: absolute;
  bottom: 30px;
  left: 0;
  transition: 0.2s;
  color: #757575;
  font-weight: 300;
  pointer-events: none;
  transition: all 0.3s ease;
}

.product-list,
.total {
  font-size: 0.8rem;
  font-weight: 400;
  list-style-type: none;
  padding-bottom: 1rem;
}

.product,
.total {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.8rem;
}

.btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  height: 64px;
  background-color: #172c50;
  color: #ffffff;
  display: block;
  font-size: 0.9rem;
  border: none;
  outline: none;
}

.btn button {
  width: 100%;
}

.inner-btn {
  display: none;
}

/* Footer */
footer {
  display: none;
  text-align: center;
}

.copyright-text {
  font-size: 0.8rem;
  color: #8b8282;
}

.copyright-text:hover {
  text-decoration: underline;
}

.text {
  margin-top: 1.5rem;
}

.demo-text {
  display: inline;
  font-size: 15px;
  color: #ffffff;
  background-color: #000;
  padding: 10px 16px;
}

@media all and (min-width: 768px) {
  .menu-icon {
    visibility: hidden;
  }

  .navbar {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .nav-list {
    visibility: hidden;
    width: 450px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto;
  }

  .nav-list a {
    font-size: 0.8rem;
    color: #000;
  }

  .container {
    width: 100%;
    margin-top: 3rem;
    max-width: 950px;
    margin-inline: auto;
    display: flex;
    gap: 100px;
  }

  .account-info-container,
  .payment-info-container {
    flex: 1;
  }

  .btn {
    display: none;
  }

  .total {
    padding-bottom: 1.5rem;
  }

  #month,
  #year {
    margin-top: 0.1rem;
  }

  .inner-btn {
    display: block;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 0.4rem 1.3rem;
  }

  .inner-btn button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
  }

  footer {
    display: block;
  }
}
