html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list {
  display: none;
}

a {
  text-decoration: none;
}

/* NavBar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.menu-icon {
  width: 1.5rem;
}

.nav-list a:active {
  display: block;
  line-height: 30px;
  border-bottom: 2px solid black;
}

.logo {
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #000;
}

.cart {
  width: 1.5rem;
}

/* Section */
.product-category {
  text-align: center;
}

.product-img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.category-name {
  padding: 1.6rem 0 3rem;
}

.category-title {
  font-size: 1rem;
  word-spacing: 3px;
  padding-bottom: 1.5rem;
}

.shop-btn {
  display: block;
  width: 200px;
  margin-inline: auto;
  font-size: 0.9rem;
  color: #000;
  border: 2px solid #000;
  padding: 0.8rem 2.5rem;
}

.flex-container {
  display: flex;
}

.shop-btn-flex {
  width: 150px;
  padding: 0.5rem 0.7rem;
}

/* Footer */
footer {
  text-align: center;
}

.copyright-text {
  font-size: 0.8rem;
  color: #8b8282;
}

.copyright-text:hover {
  text-decoration: underline;
}

.text {
  margin-top: 1.5rem;
}

.demo-text {
  display: inline;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #000;
  padding: 0.6rem 1rem;
}

@media all and (min-width: 768px) {
  .menu-icon {
    visibility: hidden;
  }

  .navbar {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .nav-list {
    width: 450px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto;
  }

  .nav-list a {
    font-size: 0.8rem;
    color: #000;
  }

  .category-title {
    margin-bottom: 1.5rem;
  }

  .shop-btn-flex {
    padding: 0.7rem 2.5rem;
  }
}

@media all and (min-width: 1440px) {
  .product-category,
  .flex-container {
    width: 80%;
    margin: 0 auto;
  }

  .product-img {
    object-fit: cover;
  }

  .flex-container .product-img {
    width: 100%;
    object-fit: cover;
  }
}
