html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list {
  display: none;
}

a {
  text-decoration: none;
}

/* NavBar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem 1rem 1.5rem;
}

.menu-icon {
  width: 1.5rem;
}

.nav-list a:active {
  display: block;
  line-height: 30px;
  border-bottom: 2px solid black;
}

.logo {
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #000;
}

.cart {
  width: 1.5rem;
}

/* Decription section */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5.6rem;
  min-height: 100vh;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-img {
  width: 80%;
}

.product-desc-container {
  padding: 0 1.5rem;
  margin: 1.9rem 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 400;
}

.price {
  display: block;
  color: #8b8282;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.outerwear-size,
.outerwear-quantity {
  display: flex;
  align-items: center;
  gap: 45px;
  border-top: 1px solid #c4bcbc;
  border-bottom: 1px solid #c4bcbc;
  padding: 1rem 0;
}

.outerwear-quantity {
  border-top: none;
  gap: 22px;
}

.size,
.quantity {
  color: #8b8282;
  font-size: 0.8rem;
}

.select-size,
.select-quantity {
  width: 100%;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.description {
  color: #8b8282;
  font-size: 0.8rem;
}

.desc-title {
  color: #000;
  font-size: 0.8rem;
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}

.features {
  margin: 1.6rem 0 1rem 0;
}

.desc-detail {
  line-height: 20px;
}

.list {
  margin-left: 2.6rem;
  line-height: 20px;
}

.btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
}

.btn button {
  width: 100%;
  height: 64px;
  background-color: #172c50;
  color: #ffffff;
  display: block;
  font-size: 0.9rem;
  border: none;
  outline: none;
  text-align: center;
}

.inner-btn {
  display: none;
}

/* Footer */
.footer {
  display: none;
  text-align: center;
}

.copyright-text {
  font-size: 0.8rem;
  color: #8b8282;
}

.copyright-text:hover {
  text-decoration: underline;
}

.text {
  margin-top: 1.5rem;
}

.demo-text {
  display: inline;
  font-size: 15px;
  color: #ffffff;
  background-color: #000;
  padding: 0.7rem 1rem;
}

@media all and (min-width: 600px) {
  .product-desc-container {
    max-width: 600px;
    margin: 1.9rem auto;
  }
}

@media all and (min-width: 768px) {
  .nav-list {
    width: 450px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto;
  }

  .nav-list a {
    font-size: 0.8rem;
    color: #000;
  }

  .title {
    font-size: 1.5rem;
  }

  .price {
    font-size: 1rem;
  }

  .footer {
    display: block;
  }

  .btn {
    display: none;
  }

  .container {
    margin: 3.2rem auto 3.2rem auto;
    width: 80%;
    min-width: 768px;
    flex-direction: row;
    justify-content: center;
  }

  .container-img {
    width: 50%;
    min-width: 384px;
    justify-content: center;
  }

  .product-desc-container {
    width: 50%;
    margin: 1.9rem 0;
  }

  .product-img {
    padding-top: 2rem;
    width: 80%;
  }

  .inner-btn {
    display: block;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 0.7rem 1.25rem;
    margin-top: 1.25rem;
  }

  .inner-btn button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
  }
}

@media all and (min-width: 920px) {
  .product-desc-container {
    max-width: 400px;
  }

  .footer {
    width: 100%;
  }
}
