html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list {
  display: none;
}

a {
  text-decoration: none;
}

/* NavBar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.menu-icon {
  width: 1.5rem;
}

.nav-list a:active {
  display: block;
  line-height: 20px;
  border-bottom: 2px solid black;
}

.logo {
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #000;
}

.cart {
  width: 1.5rem;
}

/* Section */
.product-category {
  text-align: center;
}

.product-img {
  display: none;
}

.product-title {
  font-size: 1rem;
  word-spacing: 3px;
}

.total-product {
  display: block;
  color: #8b8282;
  margin-top: 0.5rem;
}

.outerwear-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.outerwear-card {
  width: 40%;
  margin: 0 0.8rem;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outerwear-card a {
  color: #000;
}

.outerwear-img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-bottom: 20%;
}

.title,
.price {
  font-size: 0.8rem;
  text-align: center;
}

.title {
  font-weight: 700;
  line-height: 20px;
  word-spacing: 2px;
  padding-bottom: 0.3rem;
}

.price {
  color: #8b8282;
}

/* Footer */
footer {
  margin-top: 1.5rem;
  text-align: center;
}

.copyright-text {
  font-size: 0.8rem;
  color: #8b8282;
}

.copyright-text:hover {
  text-decoration: underline;
}

.text {
  margin-top: 1.5rem;
}

.demo-text {
  display: inline;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #000;
  padding: 0.6rem 1rem;
}

@media all and (min-width: 768px) {
  .menu-icon {
    visibility: hidden;
  }

  .navbar {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .nav-list {
    width: 450px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto;
  }

  .nav-list a {
    font-size: 0.8rem;
    color: #000;
  }

  .product-category {
    height: 40vh;
  }

  .product-img {
    display: block;
    width: 100%;
    height: 35vh;
    object-fit: cover;
    margin-bottom: 2.2rem;
  }

  .outerwear-cards {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: space-between;
  }

  .outerwear-card {
    width: 25%;
  }
}

@media all and (min-width: 1440px) {
  .product-category {
    width: 100%;
    margin: 0 auto;
  }

  .product-img {
    width: 100%;
    object-fit: none;
  }

  .outerwear-cards {
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
  }
}
